<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Details</title>
    <style>
        h2{
            text-align: center;
            color: maroon;
            background-color: antiquewhite;
        }
    </style>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Your Personal Info</h2>
   <center><h3>Id:<%= post.id  %></h3></center> 
    <div class="box">
        <h3 class="name">@<%= post.username  %></h3>
        <h4 class="content"><%= post.content  %></h4>
    </div>
</body>
</html>